.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.css-1p6nrpa {
  background: #ffc800 !important;
}
.css-1p6nrpa:focus,
.css-1p6nrpa[data-focus] {
  box-shadow: 0 0 0 3px white !important;
}
.css-1p6nrpa:hover {
  background: white !important;
  color: #ffc800 !important;
  border: solid #ffc800 1px;
}
.css-1r4zvl6[aria-checked="true"],
.css-1r4zvl6[data-checked] {
  background: #ffc800 !important;
  border-color: #ffc800 !important;
  color: #ffffff;
}
